body
{
    font-family: 'Roboto', sans-serif;

    background: #f1f1f1;
    color: #43484d;
}

#tt {
  margin-top:250px;

}
.navbar-fixed-left {
  width: 160px;
  position: fixed;
  border-radius: 0;
  height: 600px;
}
/*table tr {
  padding-left: 20px;
  padding-top: 20px;
  margin-left: 50px;
}*/

th {
  border-spacing: 100px;
  position: absolute;
  top: 50%;
}

.export: hover {
  content: 'Export to csv';
}

.navbar-fixed-left .navbar-nav > li {
  float: none;  /* Cancel default li float: left */
  width: 139px;
}

.navbar-fixed-left + .container {
  padding-left: 160px;
}

.container {
  height: 1000px;
}

.wrapper {
  margin-left: 180px;
  margin-right: 70px;
  margin-top: -590px;
}
