<!DOCTYPE HTML>
<html lang="en">
<head>
<!-- Force latest IE rendering engine or ChromeFrame if installed -->
<!--[if IE]>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<![endif]-->
<meta charset="utf-8">
<link rel="icon" type="image/png" href="static/pic/icon.png" />
<title>Evaluate !</title>
<meta name="description" content="File Upload widget with multiple file selection, drag&amp;drop support, progress bars, validation and preview images, audio and video for jQuery. Supports cross-domain, chunked and resumable file uploads and client-side image resizing. Works with any server-side platform (PHP, Python, Ruby on Rails, Java, Node.js, Go etc.) that supports standard HTML form file uploads.">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap styles -->
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<!-- Generic page styles -->
<link rel="stylesheet" href="static/style.css">
<!-- blueimp Gallery styles -->
<script src="http://code.jquery.com/jquery-latest.min.js"
        type="text/javascript"></script>
        <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="http://cdn.opencpu.org/opencpu-0.4.js"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
</head>
<body>
  <!--navigation-->
  <nav class="navbar navbar-default navbar-fixed-left" id="nav_bar">
    <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-align-left"></span> Evaluate !</a><br /><br /><br /><br />
    <span style="margin-left:30px;color:#43484d"><span class="glyphicon glyphicon-menu-right"></span> H.Boukrim</span><br />
    <span style="margin-left:30px;color:#43484d"><span class="glyphicon glyphicon-menu-right"></span> J.Diantouba</span><br />
    <span style="margin-left:30px;color:#43484d"><span class="glyphicon glyphicon-menu-right"></span> O.Dibt</span><br />
    <span style="margin-left:30px;color:#43484d"><span class="glyphicon glyphicon-menu-right"></span> M.Rihani</span><br />
    <ul class="nav navbar-nav" id="tt">
      <li><a href="https://github.com/SimoRihani/ProjetLS" target="_blank" style="margin-left:9px;color:#337ab7; width:150px; font-size:1.2em"><span class="glyphicon glyphicon-lock"></span> LS - Project </a></li><br />
     <li><span style="margin-left:8px;color:#43484d;font-style: italic"><span class="glyphicon glyphicon-education"></span> M2 Miage ID App.</span></li>
     <li><span style="margin-left:45px;color:#43484d"> 2016-2017 </span></li>
     <li style="margin-left:-7px;"><a href="http://www.dauphine.fr/fr/index.html" target="_blank"><img src="static/pic/logoD.png" class="logoEcole" alt="Logo Paris-Dauphine" width="140" /></a></li>
    </ul>
  </nav>
  <div id="bd" class="wrapper">
<h1>  Evaluation based on several criteria</h1><br />
<div style="font-size: 1.2em">
<span style="font-style: italic">Evaluate !</span> is a tool to evaluate different alternatives, by making a ranking from the best one to the worst.<br />
Based on two documents to be attached : the first for the desired configuration (different weightings of the criteria)
and the second for the data, you can apply one of the four evaluation methods available. You can access this project github page by clicking on
LS - Project at the left section.
</div><br />

<b> <span class="glyphicon glyphicon-paperclip"></span> Configuration file</b> <input type="file" id="csvfile">
<br />

<b> <span class="glyphicon glyphicon-paperclip"></span> Data file</b> <input type="file" id="csvfile2">
<br />

<b> <span class="glyphicon glyphicon-cog"></span> Evaluation method </b> <select id="header" name="header" class="form-control" style="width:53%">
<option value="1">1-Evaluate by a weighted sum</option>
<option value="2">2-Evaluate by a weighted sum taking into account the interaction between criterion</option>
<option value="3">3-Evaluate with the Optimistic ELECTRE TRI method</option>
<option value="4">4-Evaluate with the Pessimistic ELECTRE TRI method</option><br />
</select>


<br />
<button id="submitbutton" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-send"></span> GO </button>
<button id="refreshbutton" type="button" class="btn btn-primary" style="visibility:hidden"><span class="glyphicon glyphicon-repeat"></span></button>


<a href="#" id="export" class="export" style="margin-left: 82%; margin-top:-5%; visibility:hidden"><img src="static/pic/csvIcon.png" class="logoCsv" width="40" /></a>
<!-- <a href="#" class="export">Export Table data into Excel</a> -->

<div name="out" id="out" style="display:none"><pre id="pr" style="display:none"><code id="output"></code></pre></div>
<pre style="display:none"><code id="output2"></code></pre>

<div id="myT">
<table class="table-bordered table-hover" id="myTable"><br />
      <!-- <tr>
        <th>Academie</th>
        <th>Departement</th>
        <th>Dernier</th>
        <th>Score</th>
      </tr> -->
  </table>
</div>

<script>

function exportTableToCSV($table, filename) {

        var $rows = $table.find('tr:has(td)'),

            // Temporary delimiter characters unlikely to be typed by keyboard
            // This is to avoid accidentally splitting the actual contents
            tmpColDelim = String.fromCharCode(11), // vertical tab character
            tmpRowDelim = String.fromCharCode(0), // null character

            // actual delimiter characters for CSV format
            colDelim = '","',
            rowDelim = '"\r\n"',

            // Grab text from table into CSV formatted string
            csv = '"' + $rows.map(function (i, row) {
                var $row = $(row),
                    $cols = $row.find('td');

                return $cols.map(function (j, col) {
                    var $col = $(col),
                        text = $col.text();

                    return text.replace(/"/g, '""'); // escape double quotes

                }).get().join(tmpColDelim);

            }).get().join(tmpRowDelim)
                .split(tmpRowDelim).join(rowDelim)
                .split(tmpColDelim).join(colDelim) + '"';

				// Deliberate 'false', see comment below
        if (false && window.navigator.msSaveBlob) {

						var blob = new Blob([decodeURIComponent(csv)], {
	              type: 'text/csv;charset=utf8'
            });

            // Crashes in IE 10, IE 11 and Microsoft Edge
            // See MS Edge Issue #10396033: https://goo.gl/AEiSjJ
            // Hence, the deliberate 'false'
            // This is here just for completeness
            // Remove the 'false' at your own risk
            window.navigator.msSaveBlob(blob, filename);

        } else if (window.Blob && window.URL) {
						// HTML5 Blob
            var blob = new Blob([csv], { type: 'text/csv;charset=utf8' });
            var csvUrl = URL.createObjectURL(blob);

            $(this)
            		.attr({
                		'download': filename,
                		'href': csvUrl
		            });
				} else {
            // Data URI
            var csvData = 'data:application/csv;charset=utf-8,' + encodeURIComponent(csv);

						$(this)
                .attr({
               		  'download': filename,
                    'href': csvData,
                    'target': '_blank'
            		});
        }
    }

    // This must be a hyperlink
    $(".export").on('click', function (event) {
        // CSV
        var args = [$('#myT>table'), 'export.csv'];

        exportTableToCSV.apply(this, args);

        // If CSV, don't do event.preventDefault() or return false
        // We actually need this to be a typical hyperlink
    });

// (function($){
//     $(document).ready(function(){
//         var offset = $(".navbar").offset().top;
//         $(document).scroll(function(){
//             var scrollTop = $(document).scrollTop();
//             if(scrollTop > offset){
//                 $(".navbar").css("position", "fixed");
//             }
//             else {
//                 $(".navbar").css("position", "static");
//             }
//         });
//     });
// })(jQuery);

  // $(window).scroll(function () {
  //     //if you hard code, then use console
  //     //.log to determine when you want the
  //     //nav bar to stick.
  //     console.log($(window).scrollTop())
  //   if ($(window).scrollTop() > 0) {
  //     $('#nav_bar').marginTop = $(window).scrollTop();
  //     console.log("$(window).scrollTop()");
  //     //$('#nav_bar').position = "absolute";
  //     $('#nav_bar').top = "0px";
  //   }
  //   if ($(window).scrollTop() < 1) {
  //     //$('#nav_bar').removeClass('navbar-fixed-left');
  //   }
  // });
  function drawHead(header) {
    console.log(header);
    for(i=0; i < header.length;i++)
        $("#myTable").prepend($("<th> " + header[i].toUpperCase() + " </th>"));
    $("#myTable").prepend("</tr>");
    $("#myTable th").css({"backround-color": "#777","color": "grey", "padding-top": "12px", "padding-bottom": "12px", "padding-left": "12px", "padding-right": "12px"});
  }

  function drawTable(data, header) {
    console.log(typeof(data));
    // drawHead(header);
    for (var i = 0; i < data.length; i++) {
        drawRow(data[i], header);
        console.log('data ' + data[0].Academie + ' Length ' + data.length);
    }
}

function drawRow(rowData, header) {
    var row = $("<tr />")
    //var head = String(header).split(",");
    console.log('HEREYEYEUEJ ' + typeof(header) + header + header.length);
    $("#myTable").prepend(row); //this will append tr element to table... keep its reference for a while since we will add cels into it
    for(i = 0; i < header.length; i++)
      row.prepend($("<td> " + rowData[header[i]] + " </td>"));
    // row.append($("<td>" + rowData.Academie + "</td>"));
    // row.append($("<td>" + rowData.Departement + "</td>"));
    // row.append($("<td>" + rowData.Dernier + "</td>"));
    // row.append($("<td>" + rowData.score + "</td>"));
     $("#myTable td").css({"padding": "7px","text-align": "center"});
    // $("#myTable td").css({paddingLeft: header[i].style.width});
}

  // function csvJSON(csv){
  //
  //   var lines=csv.split("\n");
  //
  //   var result = [];
  //
  //   var headers=lines[0].split(",");
  //
  //   for(var i=1;i<lines.length;i++){
  //
  // 	  var obj = {};
  // 	  var currentline=lines[i].split(",");
  //
  // 	  for(var j=0;j<headers.length-1;j++){
  // 		  obj[headers[j]] = currentline[j];
  // 	  }
  //
  // 	  result.push(obj);
  //
  //   }
  //
  //   //return result; //JavaScript object
  //   return JSON.stringify(result); //JSON
  // }


  function csvJSON(csv, csv2, meth){

    var lines=csv.split("\n");
    var lines2=csv2.split("\n");

    var result = {};
    var res = {};
    var res2 = {};
    //var elements = math.ones(lines.length, headers.length-1);

    var headers=lines[0].split(",");
    var headers2=lines2[0].split(",");

    var elements = [];
    var elements2 = [];
    for(var i=0; i<lines.length-1; i++) {
      elements[i] = new Array(headers.length);
    }
    var tmp = [];
    for(var i=0; i<lines2.length-1; i++) {
      elements2[i] = new Array(headers.length);
    }
    var tmp2 = [];
    for(var j=0;j<headers.length;j++){
      tmp = [];
      for(var i=1;i<lines.length-1;i++){
    	  var obj = [];
    	  elements[i]=lines[i].split(",");
        //console.log(elements[i][j]);
        tmp.push(elements[i][j])
    		  //obj[headers[j]] += elements[i][j];
  	  }
      console.log('tmp ' + tmp);
      obj.push(tmp);
      //console.log('object : ' + obj);
  	  result[headers[j]] = tmp;
      //console.log('here   ' + result);
    }
    for(var j=0;j<headers2.length;j++){
      tmp2 = [];
      for(var i=1;i<lines2.length-1;i++){
    	  var obj2 = [];
    	  elements2[i]=lines2[i].split(",");
        //console.log(elements[i][j]);
        tmp2.push(elements2[i][j])
    		  //obj[headers[j]] += elements[i][j];
  	  }
      console.log('tmp2 ' + tmp2);
      obj2.push(tmp2);
      //console.log('object : ' + obj);
  	  res2[headers2[j]] = tmp2;
      //console.log('here   ' + result);
    }
    res['Param'] = result;
    res['Content'] = res2;
    res['Method'] = meth;

    //return result; //JavaScript object
    console.log('HHOHOHOHOHO ' + JSON.stringify(res));
    return JSON.stringify(res); //JSON
  }

  function CSVtoArray(text) {
    var re_valid = /^\s*(?:'[^'\\]*(?:\\[\S\s][^'\\]*)*'|"[^"\\]*(?:\\[\S\s][^"\\]*)*"|[^,'"\s\\]*(?:\s+[^,'"\s\\]+)*)\s*(?:,\s*(?:'[^'\\]*(?:\\[\S\s][^'\\]*)*'|"[^"\\]*(?:\\[\S\s][^"\\]*)*"|[^,'"\s\\]*(?:\s+[^,'"\s\\]+)*)\s*)*$/;
    var re_value = /(?!\s*$)\s*(?:'([^'\\]*(?:\\[\S\s][^'\\]*)*)'|"([^"\\]*(?:\\[\S\s][^"\\]*)*)"|([^,'"\s\\]*(?:\s+[^,'"\s\\]+)*))\s*(?:,|$)/g;
    // Return NULL if input string is not well formed CSV string.
    if (!re_valid.test(text)) return null;
    var a = [];                     // Initialize array to receive values.
    text.replace(re_value, // "Walk" the string using replace with callback.
        function(m0, m1, m2, m3) {
            // Remove backslash from \' in single quoted values.
            if      (m1 !== undefined) a.push(m1.replace(/\\'/g, "'"));
            // Remove backslash from \" in double quoted values.
            else if (m2 !== undefined) a.push(m2.replace(/\\"/g, '"'));
            else if (m3 !== undefined) a.push(m3);
            return ''; // Return empty string.
        });
    // Handle special case of empty last value.
    if (/,\s*$/.test(text)) a.push('');
    return a;
};


function CSVToArray( strData, strDelimiter ){
        // Check to see if the delimiter is defined. If not,
        // then default to comma.
        strDelimiter = (strDelimiter || ",");

        // Create a regular expression to parse the CSV values.
        var objPattern = new RegExp(
            (
                // Delimiters.
                "(\\" + strDelimiter + "|\\r?\\n|\\r|^)" +

                // Quoted fields.
                "(?:\"([^\"]*(?:\"\"[^\"]*)*)\"|" +

                // Standard fields.
                "([^\"\\" + strDelimiter + "\\r\\n]*))"
            ),
            "gi"
            );


        // Create an array to hold our data. Give the array
        // a default empty first row.
        var arrData = [[]];

        // Create an array to hold our individual pattern
        // matching groups.
        var arrMatches = null;


        // Keep looping over the regular expression matches
        // until we can no longer find a match.
        while (arrMatches = objPattern.exec( strData )){

            // Get the delimiter that was found.
            var strMatchedDelimiter = arrMatches[ 1 ];

            // Check to see if the given delimiter has a length
            // (is not the start of string) and if it matches
            // field delimiter. If id does not, then we know
            // that this delimiter is a row delimiter.
            if (
                strMatchedDelimiter.length &&
                strMatchedDelimiter !== strDelimiter
                ){

                // Since we have reached a new row of data,
                // add an empty row to our data array.
                arrData.push( [] );

            }

            var strMatchedValue;

            // Now that we have our delimiter out of the way,
            // let's check to see which kind of value we
            // captured (quoted or unquoted).
            if (arrMatches[ 2 ]){

                // We found a quoted value. When we capture
                // this value, unescape any double quotes.
                strMatchedValue = arrMatches[ 2 ].replace(
                    new RegExp( "\"\"", "g" ),
                    "\""
                    );

            } else {

                // We found a non-quoted value.
                strMatchedValue = arrMatches[ 3 ];

            }


            // Now that we have our value string, let's add
            // it to the data array.
            arrData[ arrData.length - 1 ].push( strMatchedValue );
        }

        // Return the parsed data.
        return( arrData );
    }


//because read.csv is in utils
ocpu.seturl("http://public.opencpu.org/ocpu/library/utils/R")
//actual handler
$("#submitbutton").on("click", function(){
    console.log('HNAWAHNA ' + document.getElementById('csvfile').readOnly);
    document.getElementById('csvfile').disabled = true;
    document.getElementById('csvfile2').disabled = true;
    //document.getElementById('submitbutton').disabled = true;
    //arguments
    var myheader = $("#header").val() == 1;
    var myfile = $("#csvfile")[0].files[0];
    var myfile2 = $("#csvfile2")[0].files[0];
    var e = document.getElementById("header");
    //console.log(e.options[e.selectedIndex].text);
    var mydata = "";
    $.ajax({
        url: "/Users/SimoRihani/Desktop/ttg/tst.csv",
        async: false,
        success: function (csvd) {
            data = $.csv.toArrays(csvd);
        },
        dataType: "text",
        complete: function () {
            // call a function on complete
        }
    });




    //console.log("SSSSSSS" + mydata + $("#csvfile")[0].files[0].type);
    var dd = "";
    var dd2 = "";
    var dd4 = e.options[e.selectedIndex].value;
    read = new FileReader();
    read2 = new FileReader();
    file = $("#csvfile")[0].files[0];
    file2 = $("#csvfile2")[0].files[0];
    read.readAsBinaryString(file);
    read2.readAsBinaryString(file2);
    read.onloadend = function(){
      read2.onloadend = function(){
      dd = read.result;
      dd2 = read2.result;
      //dd['Method'] = dd4;
      //console.log('SIMOSIMOSIMO ' + csvJSON(dd));
    //console.log("TTTTTT " + CSVtoArray(dd)[0] + CSVtoArray(dd)[3]);
    //console.log("TTTTTT " + CSVToArray(dd, ','));
    //console.log("TTTTTT " + toArrays(dd));
    $.ajax({
        url: '/indexAct',
        // data: e.options[e.selectedIndex].text,
        // data: $('#header').serialize(),
        //data: $('#header').serialize(),
        //data: JSON.stringify('config : ' + dd + ';\n data : ' + dd2, null, '\t'),
        //data : csvJSON(dd4 + ' & ' + dd + ' & ' + dd2),
        data : csvJSON(dd, dd2, dd4),
        contentType: 'application/json;charset=UTF-8',
        //data: mydata,
        type: 'POST',
        success: function(response) {
            console.log(response);
            var headd = Object.keys($.parseJSON(response)[0]);
            drawHead(headd);
            drawTable($.parseJSON(response), headd);
            //drawTable(response);
            // document.getElementById("myT").hidden = !document.getElementById("myT").hidden;
            document.getElementById("export").style.visibility = "visible";
            document.getElementById("submitbutton").style.visibility = "hidden";
            document.getElementById("refreshbutton").style.visibility = "visible";

        },
        error: function(error) {
            console.log(error);
        }
    });

}}

    //       $.ajax({
    //     // Your server script to process the upload
    //     url: '/indexAct',
    //     type: 'POST',
    //
    //     // Form data
    //     data: new FormData($('form')[0]),
    //
    //     // Tell jQuery not to process data or worry about content-type
    //     // You *must* include these options!
    //     cache: false,
    //     contentType: false,
    //     processData: false,
    //
    //     // Custom XMLHttpRequest
    //     xhr: function() {
    //         var myXhr = $.ajaxSettings.xhr();
    //         if (myXhr.upload) {
    //             // For handling the progress of the upload
    //             myXhr.upload.addEventListener('progress', function(e) {
    //                 if (e.lengthComputable) {
    //                     $('progress').attr({
    //                         value: e.loaded,
    //                         max: e.total,
    //                     });
    //                 }
    //             } , false);
    //         }
    //         return myXhr;
    //     },
    // });

    if(!myfile){
        alert("No file selected.");
        return;
    }


    //disable the button during upload
    $("#submitbutton").attr("disabled", "disabled");

    //perform the request
    var req = ocpu.call("read.csv", {
        "file" : myfile,
        "header" : myheader
    }, function(session){
        session.getConsole(function(outtxt){
            //$("#output").text(outtxt.split('\n')[1]);
            console.log(document.getElementById("pr").style.display);
            document.getElementById("pr").style.display = "block";
            $("#output").text(outtxt);
            //console.log(outtxt)
        });
    });

    var req2 = ocpu.call("read.csv", {
        "file" : myfile2,
        "header" : myheader
    }, function(session){
        session.getConsole(function(outtxt){
            $("#output2").text(outtxt + mydata);
        });
    });

    //if R returns an error, alert the error message
    req.fail(function(){
        alert("Server error: " + req.responseText);
    });

    //after request complete, re-enable the button
    req.always(function(){
        $("#submitbutton").removeAttr("disabled")
    });

    req2.fail(function(){
        alert("Server error: " + req2.responseText);
    });

    //after request complete, re-enable the button
    req2.always(function(){
        $("#submitbutton").removeAttr("disabled")
    });
    //$("#submitbutton").disabled = true;

    $("#submitbutton").prop('disabled', true);
    console.log('LOGLOGLOGLOGLOGLOG ' + $("#submitbutton").disabled);

});
$("#refreshbutton").on("click", function(){
  console.log('HEYHOOO');
    window.location.reload(false);
  });

</script>
</div>
</body>
</html>
